<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">RegistrationWizard</a>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
              <button *ngIf="(tokenService.loggedIn$ | async) === true" class="nav-link text-dark" (click)="tokenService.logout()">Logout</button>
          </li>
        </ul>
      </div>
  </nav>
</header>
